<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/convidado.css">
</head>
<body>
    <div class="topo">
        <h1>Ficarei feliz de ter sua presença.</h1>
        <p>Você é uma pessoa querida e será ótimo ter você na minha festa.</p>
        <p>A festa ocorrerá na pizzaria dona tarandela às 21h do domingo. Peço perdão por ser tão tarde, mas é o horário
    que chegarei em cajazeiras.</p>

    </div>
    <div class="meio">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d692.482179025618!2d-38.54810224756313!3d-6.891657789069273!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7a47398a01b49cb%3A0x9d5efb54ebd11090!2sDonna%20Tarandella!5e0!3m2!1spt-BR!2sbr!4v1751654330545!5m2!1spt-BR!2sbr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>

</body>
</html>