<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <link rel="stylesheet"  href="../static/inicial.css">
    </head>
    <body>
        <h1>Meu primeiro sistema web</h1>
        <hr>
        <p>Meu nome é renê, eu sou paraibano e gosto da ciência da computação</p>
        <br>
        <p>Meu aniversário será neste domingo, dia 6 de julho. Irei para um certo local com meus amigos.
        Verifique aqui se você participará deste momento</p>
        <form action="/verificarconvite" method="post">
            <input type="text" name="nomeusuario" placeholder="Digite seu nome">
            <button>Enviar</button>
        </form>

    </body>
</html>